// font size
$h1Size: 26px;

$buttonFontSize: 20px;

// background
$backgroundColor: #FFFFFF;
$secondBackgroundColor: #FFFFFF;
$halfBlack: rgb(#000000, .5);
$buttonBackground: #428cff;

// font color
$fontColor: #0E0E0E;
$secondFontColor: #FFFFFF;
