ion-modal{
	background: $backgroundColor!important;
	--ion-background-color: $backgroundColor!important;
	ion-header{
		background: $backgroundColor!important;
		--ion-background-color: $backgroundColor!important;
		--ion-toolbar-background: $backgroundColor!important;
		color: $fontColor;
		--color: $fontColor;
		ion-card-title{
			font-size: $buttonFontSize;
		}
	}
	ion-list{
		border: none;
		ion-item{
			background: $backgroundColor!important;
			--background: $backgroundColor!important;
			color: $fontColor;
			--color: $fontColor;
		}
	}
	ion-content{
		--color: $fontColor;
	}
	.user-edit-profile-modal{
		.relative{
			display: flex;
			flex-direction: column;
			align-items: center;
			text-align: center;
		}
		.avatar-img{
			width: 80px;
			height: 80px;
			margin-bottom: 15px;
		}
		ion-item{
			margin-top: 15px;
			--background: white;
			--padding-start: 5px;
			--padding-end: 5px;
			--inner-border-width: 0;
			ion-input{
				border-bottom: 1px solid black;
			}
			ion-label{
				width: 90px;
				max-width: 90px;
				white-space: normal!important;
			}
			ion-textarea{
				border-bottom: 1px solid black;
			}
		}
		.button-container{
			margin: 40px 0 0;
			text-align: center;
			ion-button{
				--border-radius: 10px;
			}
		}
	}
}
