.loading{
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	z-index: 2147483647;
	background: rgba(0, 0, 0, .4);
	display: flex;
	align-items: center;
	justify-content: center;
	&__container {
		width: 150px;
		height: 150px;
		background: rgba($buttonBackground, .6);

		border-radius: 50%;

		display: flex;
		align-items: center;
		justify-content: center;

		position: relative;
		z-index: 501;
	}

	&__logo {
		width: 90px;
		height: 90px;
		background: red;
		border-radius: 50%;
		display: flex;
		align-items: center;
		justify-content: center;
		z-index: 502;
	}

	&__processing {
		width: 150px;
		height: 150px;
		border: 10px solid $buttonBackground;

		border-radius: 50%;
		z-index: 504;
		position: absolute;
		top: 0;
		left: 0;
	}

	&__progress {
		position: absolute;
		top: 0;
		left: 0;
		width: 150px;
		height: 150px;
		z-index: 505;

		background: transparent;
		border: 10px solid transparent;
		border-right: 10px solid white;
		border-radius: 50%;
		animation: rotate 5s linear infinite;
	}
}

@keyframes rotate {
	100% { transform: rotate(360deg); }
}

